@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500&display=swap');

:root {
  --primary-color: #DB2777;
  --heading-color: #6B7280;
  --off-white: #f3f4f6;
}

body {
  font-family: 'Work Sans', sans-serif;
  max-width: 85%;
  margin: 0 auto;
  width: 100%;
}

.link{
  text-decoration: none;
}

.list-item-inline{
  display: inline;
}